---
layout: base.njk
title: Impressum
---

<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6">Impressum</h1>

  <section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Deutsch</h2>
    <p class="mb-2"><strong>Dienstanbieter im Sinne des § 5 TMG:</strong></p>
    <p>Vlad Gheorghe<br>
    Berliner Straße 114<br>
    13189 Berlin</p>

    <p class="mt-4 mb-2"><strong>Kontaktinformationen:</strong></p>
    <p>Telefon: +49 176 56722979<br>
    E-Mail: contact@scenemind.ai</p>

    <p class="mt-4 mb-2"><strong>Vertretungsberechtigte Personen:</strong></p>
    <p>Vlad Gheorghe</p>

    <p class="mt-4 mb-2"><strong>Sitz der Gesellschaft:</strong> Deutschland</p>
    <p class="mt-4 mb-2"><strong>Umsatzsteuer-ID:</strong> 35/306/00409</p>
  </section>

  <hr class="my-8 border-gray-300">

  <section>
    <h2 class="text-2xl font-semibold mb-4">English</h2>
    <p class="mb-2"><strong>Service provider within the meaning of § 5 TMG:</strong></p>
    <p>Vlad Gheorghe<br>
    Berliner Strasse 114<br>
    13189 Berlin</p>

    <p class="mt-4 mb-2"><strong>Contact Information:</strong></p>
    <p>Phone: +49 176 56722979<br>
    Email: contact@scenemind.ai</p>

    <p class="mt-4 mb-2"><strong>Authorized Representatives:</strong></p>
    <p>Vlad Gheorghe</p>

    <p class="mt-4 mb-2"><strong>Registered office:</strong> Germany</p>
    <p class="mt-4 mb-2"><strong>VAT ID:</strong> 35/306/00409</p>
  </section>
</div> 